{% extends "accounts/base.html" %}

{% block content %}

<h1>Welcome, {{ user.username }}</h1>

<p>You are successfully logged in.</p>

<hr>

<h2>Dashboard Overview</h2>

<h3>Jobs</h3>

<div style="border:1px solid #ccc; padding:15px; margin:15px;">

    <p>
        <strong>📄 Jobs Posted:</strong>
        {{ jobs_posted }}
    </p>

    <p>
        <strong>🟢 Open Jobs:</strong>
        {{ open_jobs }}
    </p>

    <p>
        <strong>🔴 Closed Jobs:</strong>
        {{ closed_jobs }}
    </p>

</div>

<h3>Applications</h3>

<div style="border:1px solid #ccc; padding:15px; margin:15px;">

    <p>
        <strong>👥 Total Applications:</strong>
        {{ applications_received }}
    </p>

    <p>
        <strong>🟡 Pending:</strong>
        {{ pending_applications }}
    </p>

    <p>
        <strong>🟢 Accepted:</strong>
        {{ accepted_applications }}
    </p>

    <p>
        <strong>🔴 Rejected:</strong>
        {{ rejected_applications }}
    </p>

</div>



<hr>

<a href="{% url 'saved_jobs' %}">
    <button>My Saved Jobs</button>
</a>

<a href="{% url 'browse_jobs' %}">
    <button>Browse Jobs</button>
</a>

<a href="{% url 'post_job' %}">
    <button>Post Job</button>
</a>

<a href="{% url 'notifications' %}">
    <button>Notifications</button>
</a>

<br><br>

<a href="{% url 'logout' %}">
    <button>Logout</button>
</a>

{% endblock %}
