{% extends "accounts/base.html" %}

{% block content %}

<section class="hero py-5">

    <div class="row align-items-center">

        <div class="col-lg-6">

            <h1 class="display-3 fw-bold">
                Create. <br>
                Collaborate.
                Grow.
            </h1>

            <p class="lead text-secondary mt-4">
                Where Skills Meet Opportunity.
            </p>

            <div class="mt-4">

                <a href="/register/" class="btn btn-primary btn-lg me-3">
                    Get Started
                </a>

                <a href="#" class="btn btn-outline-dark btn-lg">
                    Explore Talent
                </a>

            </div>

        </div>

        <div class="col-lg-8 mx-auto text-center">

            <div class="floating-cards">

                <div class="card freelancer-card p-3 mb-3">
                    <h5>👨‍💻 Python Developer</h5>
                    <p class="mb-0 text-secondary">
                        ⭐ 4.9 • ₹1200/hr
                    </p>
                </div>

                <div class="card freelancer-card p-3 mb-3">
                    <h5>🎨 UI/UX Designer</h5>
                    <p class="mb-0 text-secondary">
                        ⭐ 4.8 • ₹900/hr
                    </p>
                </div>

                <div class="card freelancer-card p-3">
                    <h5>🤖 AI Engineer</h5>
                    <p class="mb-0 text-secondary">
                        Available Now
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
