{% extends "accounts/base.html" %}

{% block content %}

<h1>Browse Jobs</h1>

<form method="GET">

    <input
        type="text"
        name="q"
        placeholder="Search jobs..."
        value="{{ query }}"
    >

    <select name="category">

        <option value="">All Categories</option>

        {% for value, label in categories %}

            <option
                value="{{ value }}"
                {% if value == category %}selected{% endif %}
            >
                {{ label }}
            </option>

        {% endfor %}

    </select>

    <button type="submit">Search</button>

</form>

<br>

{% for job in jobs %}

<div style="border:1px solid #ccc; padding:15px; margin:15px;">

    <h2>
        <a href="{% url 'job_detail' job.id %}">
            {{ job.title }}
        </a>
    </h2>

    <p>{{ job.description }}</p>

    <strong>Category:</strong> {{ job.category }}<br>

    <strong>Budget:</strong> ₹{{ job.budget }}<br>

<strong>Location:</strong> {{ job.location }}<br>

<strong>Posted by:</strong> {{ job.client.username }}

</div>

{% empty %}

<p>No jobs available.</p>

{% endfor %}

{% endblock %}
