{% extends "accounts/base.html" %}

{% block content %}

<h1>My Applications</h1>

<form method="GET">

    <select name="status">

        <option value="">All Applications</option>

        <option value="Pending"
            {% if status == "Pending" %}selected{% endif %}>
            Pending
        </option>

        <option value="Accepted"
            {% if status == "Accepted" %}selected{% endif %}>
            Accepted
        </option>

        <option value="Rejected"
            {% if status == "Rejected" %}selected{% endif %}>
            Rejected
        </option>

    </select>

    <button type="submit">Filter</button>

</form>

<br>

{% if applications %}

    {% for application in applications %}

        <div style="border:1px solid #ccc; padding:15px; margin:15px;">

            <h2>{{ application.job.title }}</h2>

            <p>
                <strong>Budget:</strong>
                ₹{{ application.job.budget }}
            </p>

            <p>
                <strong>Location:</strong>
                {{ application.job.location }}
            </p>

            <p>
                <strong>Applied:</strong>
                {{ application.applied_at }}
            </p>

            <p>
                <strong>Status:</strong>
                {{ application.status }}
            </p>
            {% if application.status == "Pending" %}

    <a href="{% url 'withdraw_application' application.id %}">
        <button>❌ Withdraw Application</button>
    </a>

{% endif %}
            <a href="{% url 'job_detail' application.job.id %}">
                View Job
            </a>

        </div>

    {% endfor %}

{% else %}

    <p>No applications found.</p>

{% endif %}

{% endblock %}
