{% extends "accounts/base.html" %}

{% block content %}

<h2>My Saved Jobs</h2>

{% if saved %}

    {% for item in saved %}

    <div style="border:1px solid #ccc; padding:10px; margin:10px;">

        <h3>
            <a href="{% url 'job_detail' item.job.id %}">
                {{ item.job.title }}
            </a>
        </h3>

        <p>
            <strong>Remove URL:</strong>
            {% url 'unsave_job' item.job.id %}
        </p>

        <a href="{% url 'unsave_job' item.job.id %}">
            <button>❌ Remove</button>
        </a>

    </div>

    {% endfor %}

{% else %}

    <p>No saved jobs yet.</p>

{% endif %}

{% endblock %}
