{% extends "accounts/base.html" %}

{% block content %}

<h2>My Saved Jobs ({{ saved|length }})</h2>
{% if saved %}

    {% for item in saved %}

    <div style="border:1px solid #ccc; padding:10px; margin:10px;">

        <h3>
            <a href="{% url 'job_detail' item.job.id %}">
                {{ item.job.title }}
            </a>
        </h3>

        <p>
 <p><strong>Budget:</strong> ₹{{ item.job.budget }}</p>

<p><strong>Location:</strong> {{ item.job.location }}</p>

<p><strong>Posted by:</strong> {{ item.job.client.username }}</p>
        <a href="{% url 'unsave_job' item.job.id %}">
            <button>❌ Remove</button>
        </a>

    </div>

    {% endfor %}

{% else %}

    <p>No saved jobs yet.</p>

{% endif %}

{% endblock %}
